@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&family=Rubik:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}

.container {
    margin: auto;
    width: 100%;
    height: 85vh;


}

.container h1 {
    font-family: 'Rubik';
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0px;
    text-align: center;
    position: relative;
    top: 10px;
}

.container p {

    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 20px;
    color: #95A1BB;

}

main {

    width: 100%;
    height: 100%;
    display: flex;
    gap: 2px;
    flex-wrap: wrap;
    padding: 30px 0;

}

.card {
    width: 300px;
    height: 166px;
    top: 193px;
    position: relative;
    left: 200px;
    top: 5px;
    display: flex;
    flex-wrap: wrap;



}

.card img {
    width: 220px;
    height: 160px;

}

.card span {
    width: 300px;
    height: 88px;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    display: flex;
    flex-wrap: wrap;


}

.abb {
    display: flex;
    gap: 20px;
}

.abb img {
    width: 48px;
    height: 48px;
}

.jass {
    text-align: center;
}

.jass p {

    font-family: Rubik;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 2px;
    text-align: left;
    margin-top: 5px;
    color: #95A1BB;

}

.jass h6 {
    margin-top: 15px;
    font-family: Rubik;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;


}